body {
  margin: 0 !important;
  padding: 0 !important;
  background-color: rgba(200, 200, 200, 0.8);
}
div.title {
  text-align: center;
  display: block;
  margin-top: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10%;
  text-align: center;
  margin: 5rem;
}
